
# Chapter 5 -> Spark ETL with Hive tables

Task to do 
1. Read data from one of the source (We take source as our MongoDB collection)
2. Create dataframe from source 
3. Create Hive table from dataframe
4. Create temp Hive view from dataframe
5. Create global Hive view from dataframe
6. List database and tables in database
7. Drop all the created tables and views in default database
8. Create Dataeng database and create global and temp view using SQL 
9. Access global table from other session

In [1]:
# First Load all the required library and also Start Spark Session
# Load all the required library
from pyspark.sql import SparkSession

In [2]:
#Start Spark Session
spark = SparkSession.builder.appName("chapter5")\
        .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.12:3.0.1')\
        .getOrCreate()
sqlContext = SparkSession(spark)
#Dont Show warning only error
spark.sparkContext.setLogLevel("ERROR")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

:: loading settings :: url = jar:file:/opt/spark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
org.mongodb.spark#mongo-spark-connector_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-70a7e369-f076-4f97-9525-bde69055fef9;1.0
	confs: [default]
	found org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 in central
	found org.mongodb#mongodb-driver-sync;4.0.5 in central
	found org.mongodb#bson;4.0.5 in central
	found org.mongodb#mongodb-driver-core;4.0.5 in central
:: resolution report :: resolve 335ms :: artifacts dl 14ms
	:: modules in use:
	org.mongodb#bson;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-core;4.0.5 from central in [default]
	org.mongodb#mongodb-driver-sync;4.0.5 from central in [default]
	org.mongodb.spark#mongo-spark-connector_2.12;3.0.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   4   |   0   |   0   |   0   ||   4   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-70a7e369-f076-4f97-9525-bde69055fef9
	confs: [default]
	0 artifacts copied, 4 already retrieved (0kB/20ms)
23/03/05 07:33:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

1. Read data from one of the source (We take source as our MongoDB collection)
2. Create dataframe from source

In [61]:
spark

In [4]:
mongodf = spark.read.format("mongo") \
    .option("uri", "mongodb://root:mongodb@192.168.1.104:27017/") \
    .option("database", "dataengineering") \
    .option("collection", "employee") \
    .load()

In [5]:
mongodf.printSchema()

root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- id: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- salary: string (nullable = true)

In [6]:
mongodf.show(n=2)

+--------------------+-------------+----------+---+---------+------+
|                 _id|department_id|first_name| id|last_name|salary|
+--------------------+-------------+----------+---+---------+------+
|{6402d551bd67c9b0...|         1006|      Todd|  1|   Wilson|110000|
|{6402d551bd67c9b0...|         1006|      Todd|  1|   Wilson|106119|
+--------------------+-------------+----------+---+---------+------+
only showing top 2 rows

3. Create Hive table from dataframe

In [32]:
mongodf.write.saveAsTable("hivesampletable")

4. Create temp Hive view from dataframe
5. Create global Hive view from dataframe

The difference between temporary and global temporary views being subtle, it can be a source of mild confusion among developers new to Spark. A temporary view is tied to a single SparkSession within a Spark application. In contrast, a global temporary view is visible across multiple SparkSessions within a Spark application. Yes, you can create multiple SparkSessions within a single Spark application—this can be handy, for example, in cases where you want to access (and combine) data from two different SparkSessions that don’t share the same Hive metastore configurations.

In [49]:
mongodf.createOrReplaceGlobalTempView("sampleglobalview")
mongodf.createOrReplaceTempView("sampletempview")

6. List database and tables in database

In [29]:
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  dataeng|
|  default|
+---------+

In [33]:
spark.sql("show tables").show()

+---------+---------------+-----------+
|namespace|      tableName|isTemporary|
+---------+---------------+-----------+
|  dataeng|hivesampletable|      false|
|         | sampletempview|       true|
+---------+---------------+-----------+

In [34]:
spark.catalog.listDatabases()

[Database(name='dataeng', description='', locationUri='file:/opt/spark/SparkETL/Chapter5/spark-warehouse/dataeng.db'),
 Database(name='default', description='default database', locationUri='file:/opt/spark/SparkETL/Chapter5/spark-warehouse')]

In [35]:
spark.catalog.listTables()

[Table(name='hivesampletable', database='dataeng', description=None, tableType='MANAGED', isTemporary=False),
 Table(name='sampletempview', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [36]:
spark.catalog.listColumns("hivesampletable")

[Column(name='_id', description=None, dataType='struct<oid:string>', nullable=True, isPartition=False, isBucket=False),
 Column(name='department_id', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='first_name', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='id', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='last_name', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='salary', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False)]

In [37]:
sqlContext.sql("SELECT * FROM hivesampletable").show()

+--------------------+-------------+----------+---+---------+------+
|                 _id|department_id|first_name| id|last_name|salary|
+--------------------+-------------+----------+---+---------+------+
|{6402d551bd67c9b0...|         1006|      Todd|  1|   Wilson|110000|
|{6402d551bd67c9b0...|         1006|      Todd|  1|   Wilson|106119|
|{6402d551bd67c9b0...|         1005|    Justin|  2|    Simon|128922|
|{6402d551bd67c9b0...|         1005|    Justin|  2|    Simon|130000|
|{6402d551bd67c9b0...|         1002|     Kelly|  3|  Rosario| 42689|
|{6402d551bd67c9b0...|         1004|  Patricia|  4|   Powell|162825|
|{6402d551bd67c9b0...|         1004|  Patricia|  4|   Powell|170000|
|{6402d551bd67c9b0...|         1002|    Sherry|  5|   Golden| 44101|
|{6402d551bd67c9b0...|         1005|   Natasha|  6|  Swanson| 79632|
|{6402d551bd67c9b0...|         1005|   Natasha|  6|  Swanson| 90000|
|{6402d551bd67c9b0...|         1002|     Diane|  7|   Gordon| 74591|
|{6402d551bd67c9b0...|         1005|  Mercedes|  8|Rodriguez| 61048|
|{6402d551bd67c9b0...|         1001|   Christy|  9| Mitchell|137236|
|{6402d551bd67c9b0...|         1001|   Christy|  9| Mitchell|140000|
|{6402d551bd67c9b0...|         1001|   Christy|  9| Mitchell|150000|
|{6402d551bd67c9b0...|         1006|      Sean| 10| Crawford|182065|
|{6402d551bd67c9b0...|         1006|      Sean| 10| Crawford|190000|
|{6402d551bd67c9b0...|         1002|     Kevin| 11| Townsend|166861|
|{6402d551bd67c9b0...|         1004|    Joshua| 12|  Johnson|123082|
|{6402d551bd67c9b0...|         1001|     Julie| 13|  Sanchez|185663|
+--------------------+-------------+----------+---+---------+------+
only showing top 20 rows

In [38]:
spark.table("sampletempview").show()

+--------------------+-------------+----------+---+---------+------+
|                 _id|department_id|first_name| id|last_name|salary|
+--------------------+-------------+----------+---+---------+------+
|{6402d551bd67c9b0...|         1006|      Todd|  1|   Wilson|110000|
|{6402d551bd67c9b0...|         1006|      Todd|  1|   Wilson|106119|
|{6402d551bd67c9b0...|         1005|    Justin|  2|    Simon|128922|
|{6402d551bd67c9b0...|         1005|    Justin|  2|    Simon|130000|
|{6402d551bd67c9b0...|         1002|     Kelly|  3|  Rosario| 42689|
|{6402d551bd67c9b0...|         1004|  Patricia|  4|   Powell|162825|
|{6402d551bd67c9b0...|         1004|  Patricia|  4|   Powell|170000|
|{6402d551bd67c9b0...|         1002|    Sherry|  5|   Golden| 44101|
|{6402d551bd67c9b0...|         1005|   Natasha|  6|  Swanson| 79632|
|{6402d551bd67c9b0...|         1005|   Natasha|  6|  Swanson| 90000|
|{6402d551bd67c9b0...|         1002|     Diane|  7|   Gordon| 74591|
|{6402d551bd67c9b0...|         1005|  Mercedes|  8|Rodriguez| 61048|
|{6402d551bd67c9b0...|         1001|   Christy|  9| Mitchell|137236|
|{6402d551bd67c9b0...|         1001|   Christy|  9| Mitchell|140000|
|{6402d551bd67c9b0...|         1001|   Christy|  9| Mitchell|150000|
|{6402d551bd67c9b0...|         1006|      Sean| 10| Crawford|182065|
|{6402d551bd67c9b0...|         1006|      Sean| 10| Crawford|190000|
|{6402d551bd67c9b0...|         1002|     Kevin| 11| Townsend|166861|
|{6402d551bd67c9b0...|         1004|    Joshua| 12|  Johnson|123082|
|{6402d551bd67c9b0...|         1001|     Julie| 13|  Sanchez|185663|
+--------------------+-------------+----------+---+---------+------+
only showing top 20 rows

In [20]:
sqlContext.sql("SELECT * FROM global_temp.sampleglobalview").show()

+--------------------+-------------+----------+---+---------+------+
|                 _id|department_id|first_name| id|last_name|salary|
+--------------------+-------------+----------+---+---------+------+
|{6402d551bd67c9b0...|         1006|      Todd|  1|   Wilson|110000|
|{6402d551bd67c9b0...|         1006|      Todd|  1|   Wilson|106119|
|{6402d551bd67c9b0...|         1005|    Justin|  2|    Simon|128922|
|{6402d551bd67c9b0...|         1005|    Justin|  2|    Simon|130000|
|{6402d551bd67c9b0...|         1002|     Kelly|  3|  Rosario| 42689|
|{6402d551bd67c9b0...|         1004|  Patricia|  4|   Powell|162825|
|{6402d551bd67c9b0...|         1004|  Patricia|  4|   Powell|170000|
|{6402d551bd67c9b0...|         1002|    Sherry|  5|   Golden| 44101|
|{6402d551bd67c9b0...|         1005|   Natasha|  6|  Swanson| 79632|
|{6402d551bd67c9b0...|         1005|   Natasha|  6|  Swanson| 90000|
|{6402d551bd67c9b0...|         1002|     Diane|  7|   Gordon| 74591|
|{6402d551bd67c9b0...|         1005|  Mercedes|  8|Rodriguez| 61048|
|{6402d551bd67c9b0...|         1001|   Christy|  9| Mitchell|137236|
|{6402d551bd67c9b0...|         1001|   Christy|  9| Mitchell|140000|
|{6402d551bd67c9b0...|         1001|   Christy|  9| Mitchell|150000|
|{6402d551bd67c9b0...|         1006|      Sean| 10| Crawford|182065|
|{6402d551bd67c9b0...|         1006|      Sean| 10| Crawford|190000|
|{6402d551bd67c9b0...|         1002|     Kevin| 11| Townsend|166861|
|{6402d551bd67c9b0...|         1004|    Joshua| 12|  Johnson|123082|
|{6402d551bd67c9b0...|         1001|     Julie| 13|  Sanchez|185663|
+--------------------+-------------+----------+---+---------+------+
only showing top 20 rows

7. Drop all the created tables and views in default database

In [39]:
spark.catalog.dropGlobalTempView("sampleglobalview")
spark.catalog.dropTempView("sampletempview")

8. Create Dataeng database and create global and temp view using SQL

In [43]:
spark.sql("CREATE DATABASE dataeng")
spark.sql("USE dataeng")

DataFrame[]

In [44]:
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  dataeng|
|  default|
+---------+

In [47]:
spark.sql("show tables").show()

+---------+---------------+-----------+
|namespace|      tableName|isTemporary|
+---------+---------------+-----------+
|  dataeng|hivesampletable|      false|
|         | sampletempview|       true|
+---------+---------------+-----------+

In [46]:
mongodf.createOrReplaceTempView("sampletempview")

9. Access global table from other session

In [58]:
newSpark = spark.newSession()

In [60]:
newSpark

In [59]:
newSpark.sql("SELECT * FROM global_temp.sampleglobalview").show()

+--------------------+-------------+----------+---+---------+------+
|                 _id|department_id|first_name| id|last_name|salary|
+--------------------+-------------+----------+---+---------+------+
|{6402d551bd67c9b0...|         1006|      Todd|  1|   Wilson|110000|
|{6402d551bd67c9b0...|         1006|      Todd|  1|   Wilson|106119|
|{6402d551bd67c9b0...|         1005|    Justin|  2|    Simon|128922|
|{6402d551bd67c9b0...|         1005|    Justin|  2|    Simon|130000|
|{6402d551bd67c9b0...|         1002|     Kelly|  3|  Rosario| 42689|
|{6402d551bd67c9b0...|         1004|  Patricia|  4|   Powell|162825|
|{6402d551bd67c9b0...|         1004|  Patricia|  4|   Powell|170000|
|{6402d551bd67c9b0...|         1002|    Sherry|  5|   Golden| 44101|
|{6402d551bd67c9b0...|         1005|   Natasha|  6|  Swanson| 79632|
|{6402d551bd67c9b0...|         1005|   Natasha|  6|  Swanson| 90000|
|{6402d551bd67c9b0...|         1002|     Diane|  7|   Gordon| 74591|
|{6402d551bd67c9b0...|         1005|  Mercedes|  8|Rodriguez| 61048|
|{6402d551bd67c9b0...|         1001|   Christy|  9| Mitchell|137236|
|{6402d551bd67c9b0...|         1001|   Christy|  9| Mitchell|140000|
|{6402d551bd67c9b0...|         1001|   Christy|  9| Mitchell|150000|
|{6402d551bd67c9b0...|         1006|      Sean| 10| Crawford|182065|
|{6402d551bd67c9b0...|         1006|      Sean| 10| Crawford|190000|
|{6402d551bd67c9b0...|         1002|     Kevin| 11| Townsend|166861|
|{6402d551bd67c9b0...|         1004|    Joshua| 12|  Johnson|123082|
|{6402d551bd67c9b0...|         1001|     Julie| 13|  Sanchez|185663|
+--------------------+-------------+----------+---+---------+------+
only showing top 20 rows